<link href="__CDN__/assets/css/wechat/menu.css?v={$site['version']}" rel="stylesheet">
<div class="panel panel-default panel-intro">
    {:build_heading()}

    <div class="panel box box-danger">
        <div class="box-header with-border">
            <h1 class="box-title text-info">注意!</h1>
        </div>
        <div class="box-body">
            <ul style="font-size: 15px;">
                <li>所有命名必须是<code>英文字母</code>，不能<code>带有符号</code></li>
                <li>HTML中js引入标签模板必须是<code>src="路径/文件名"</code>，注意；<code>是双引号</code></li>
                <li>HTML中css引入标签模板必须是<code>href="路径/文件名"</code>，注意；<code>是双引号</code></li>
                <li>HTML中img引入标签模板必须是<code>src="路径/文件名"</code>，注意；<code>是双引号</code></li>
                <li>CSS中img,font引入标签模板必须是<code>url('路径/文件名')</code>，注意；<code>是单引号</code></li>
                <li>静态资源文件结构<code>js、css、img、font、media</code>文件夹是<code>同级单独目录</code>并且<code>不能有子目录</code></li>
                <li><code>js文件路径</code>需要自己在JS文件中<code>手动替换</code></li>
                <li><code>media文件路径</code>需要自己在HTML页面中<code>手动替换</code></li>
            </ul>
        </div>
    </div>
    <form id="add-form" class="form-horizontal cxselect" role="form" data-toggle="validator" method="POST" action="">
        <div class="form-group">
            <label for="c-js" class="control-label col-xs-12 col-sm-2">{:__('JS文件夹名称')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-js" class="form-control" name="row[js]" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="c-css" class="control-label col-xs-12 col-sm-2">{:__('CSS文件夹名称')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-css" class="form-control" name="row[css]" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="c-img" class="control-label col-xs-12 col-sm-2">{:__('Img文件夹名称')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-img" class="form-control" name="row[img]" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="c-fonts" class="control-label col-xs-12 col-sm-2">{:__('Font文件夹名称')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-fonts" class="form-control" name="row[fonts]" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="c-media" class="control-label col-xs-12 col-sm-2">{:__('Media文件夹名称')}:</label>
            <div class="col-xs-12 col-sm-8">
                <input id="c-media" class="form-control" name="row[media]" type="text" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="c-project" class="control-label col-xs-12 col-sm-2">{:__('项目名称')}:</label>
            <div class="col-xs-12 col-sm-8">
                <div class="form-inline" data-toggle="cxselect" data-selects="project,module">
                    <label for="">项目：</label>
                    <select class="project form-control" name="row[project]" data-url="ajax/project"></select>
                    <label for="">模块：</label>
                    <select class="module form-control" name="row[module]" data-url="ajax/module" data-query-name="project_id"></select>
                </div>
            </div>

        </div>

        <!--<div class="form-group">-->
            <!--<label for="c-project" class="control-label col-xs-12 col-sm-2">{:__('项目名称')}:</label>-->
            <!--<div class="col-xs-12 col-sm-8">-->
                <!--<input id="c-project" class="form-control" name="row[project]" type="text" value="">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label for="c-module" class="control-label col-xs-12 col-sm-2">{:__('模块名称')}:</label>-->
            <!--<div class="col-xs-12 col-sm-8">-->
                <!--<input id="c-module" class="form-control" name="row[module]" type="text" value="">-->
            <!--</div>-->
        <!--</div>-->
        <div class="form-group">
            <label for="plupload-file" class="control-label col-xs-12 col-sm-2">{:__('项目文件')}:</label>
            <div class="col-xs-12 col-sm-8">
                <button type="button" id="plupload-file" class="btn btn-info plupload" data-url="importpagefile/importFile" data-mimetype="application/zip" data-multiple="false"><i class="fa fa-upload"></i> {:__('file type *.zip')}</button>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-12 col-sm-2"></label>
            <div class="col-xs-12 col-sm-8">
                <button type="button" id="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
                <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
            </div>
        </div>
    </form>
</div>