<!doctype html>
<html lang="en">
<head>
    <title>EMCC 2016</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/index/vietnam/style.css">
	<script src="__CDN__/assets/js/index/vietnam/jQuery1.11.3.js"></script>
    <script src="__CDN__/assets/js/index/vietnam/viewport.js"></script>
	<style>
		.participantnotice{ margin:0 auto; padding:28px 0 40px 0; width:740px;}
		.participantnotice li{ padding:10px 0 10px 18px; line-height: 48px; font-size:30px; word-wrap:break-word; background: url(./images/participantnotice_dot.png) no-repeat left 33px;}
	</style>
</head>
<body style="background:#f4f4f3;">
<div class="wrap_box">
   	<div class="logo"><img src="__CDN__/assets/img/index/vietnam/logo.png"></div>
   	<div class="topbg"><img src="__CDN__/assets/img/index/vietnam/top_bg.png"></div>
   	<div class="titlebox">
   		<div class="title1">Together we electrify China in the new era</div>
   		<div class="title2">Energy Management Conference China 2018</div>
   	</div>
    <div class="photosharing">
        <div class="phototitle">Participant notice</div>
        <div class="photoline"><img src="__CDN__/assets/img/index/vietnam/shareingline.png"></div>
		<ul class="participantnotice">
			<li>The EMCC 2018 invitation is untransferable and only for approved participants</li>
			<li>Your participation is mandatory</li>
			<li>Your engagement in the whole day meeting and involvement in some interaction session are expected and appreciated</li>
			<li>Your engagement in the whole day meeting and involvement in some interaction session are expected and appreciated</li>
		</ul>
    </div>
{include file="common/jssdk" /}
{include file="common/share" /}
{include file="common/google" /}
</body>
</html>