<!doctype html>
<html lang="en">
<head>
    <title>EMCC 2016</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" type="text/css" href="__CDN__/assets/css/index/vietnam/style.css">
	<script src="__CDN__/assets/js/index/vietnam/jQuery1.11.3.js"></script>
    <script src="__CDN__/assets/js/index/vietnam/viewport.js"></script>
</head>
<body style="background:#f4f4f3;">
<div class="wrap_box voting">
   	<div class="logo"><img src="__CDN__/assets/img/index/vietnam/logo.png"></div>
   	<div class="topbg"><img src="__CDN__/assets/img/index/vietnam/top_bg.png"></div>
   	<div class="titlebox">
   		<div class="title1">Together we electrify China in the new era</div>
   		<div class="title2">Energy Management Conference China 2018</div>
   	</div>
    <div class="photosharing">
        <div class="phototitle">Voting</div>
        <div class="photoline"><img src="__CDN__/assets/img/index/vietnam/shareingline.png"></div>
        <div class="question">Please estimate the GAGR rate of trade volume increase between China and ASEAN countries from 2005 to 2014.</div>
        <div class="answerlist">
            <ul>
                <li><span>A</span><div class="an">Please estimate the GAGR rate of trade volume increase between China and ASEAN countries from 2005 to 2014.</div></li>
                <li><span>B</span><div class="an">Please estimate </div></li>
                <li><span>C</span><div class="an">Please estimate </div></li>
                <li><span>D</span><div class="an">Please estimate </div></li>
                <li><span>C</span><div class="an">Please estimate </div></li>
                <li><span>D</span><div class="an">Please estimate </div></li>
                <li><span>C</span><div class="an">Please estimate </div></li>
                <li><span>D</span><div class="an">Please estimate </div></li>
                <li><span>C</span><div class="an">Please estimate </div></li>
                <li><span>D</span><div class="an">Please estimate </div></li>
                <li><span>C</span><div class="an">Please estimate </div></li>
                <li><span>D</span><div class="an">Please estimate </div></li>
            </ul>
        </div> 
    </div>
    <div class="footerbtn">
        <div class="btn submit">Upload photos</div>
    </div>
</div>
<script>
	var h1=$(window).height();
  $('.wrap_box').css('min-height',h1+'px');
  $('.answerlist li').click(function(){
      $('.answerlist li').removeClass('hover');
      $(this).addClass('hover');
      $('.footerbtn .btn').removeClass('submit');
  })
  $('.footerbtn .btn').click(function(){
      if($(this).hasClass('submit')){
          return false;
      }
      $(this).addClass('hover');
      setTimeout(function(){
        $('.footerbtn .btn').removeClass('hover'); 
      },300)
  })

</script>
{include file="common/jssdk" /}
{include file="common/share" /}
{include file="common/google" /}
</body>
</html>